body{
    font-family: 'Poppins', sans-serif;
    margin:0 ;
}
.logo img{
    position: absolute;
    width: 60px;
    height: 60px;
    padding: 10px;
    background-position: 50% 50%;   
}
#header-text{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom:-25px ;
    font-weight: 800;
    color:#373941;
}
#motto-color{
    color:#373941;
    margin-left: 80px;
    font-size: 12px;
}
#big-text{
    font-size: 65px;
    font-weight: 600;
    margin-bottom: -5px;
    padding-top: 60px;
    padding-left: 50px;
}
#small-text{
    font-size: 20px;
    font-weight: lighter;
    color:#373941;
    padding-left: 50px;
}
.flexible-container{
    display: flex; 
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.mid-area{
    background-color: #ececec;
    margin-top: 80px;
    padding: 50px 10px;
}
#mid-section-title{
    font-size: 30px;
    text-align: center;
}
.mid-item{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 30px #7a7a7a;
    border-radius: 15px;
    
}
.mid-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;    
}
.mid-item p{
    text-align: center;
}
.mid-item h1{
    text-align: center;
}
.site-running{
    margin-top: 5%;
}
.site-running img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 25px gray;
}
.site-running p{
    width: 45%;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 60px;
}