/* declaration of changing color */
body, h2, h3, h4, h5{
    margin: 0;
    color: rgba(26, 46, 53, 0.89);
}
/* icon viewport */
.header-icon{
    width: auto;
    height: 5vw;
}
/* header viewport */
.header-text{
    font-size: 5vw;
}
/* button customization */
.custom-btn{
    background-color: #ff4f5be8;
}
